.loginlogo  {     
    width: 100% !important;
    height: 50% !important;
    text-align: center;
    }
.loader  
{     
    width: 100% !important;
    height: 10% !important;
    text-align: center;
        }
.runners 
 {     
    width: 100% !important;
    height: 30% !important;
    text-align: center;
        }