<ion-header no-border>
</ion-header>
<ion-content>
  <div class="container">
    <div class="screen">
      <div class="screen__content">
        <ion-button [routerLink]="['/registration']" routerLinkActive="router-link-active"  class="backbutton">◄</ion-button>
        <form #formulario class="login">
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input ngModel [(ngModel)]="email" type="text" name="email" class="login__input" placeholder="Email ">
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input ngModel [(ngModel)]="password" name="password" type="password" class="login__input" placeholder="Password">
          </div>
          <ion-button (click)="signin()" class="button login__submit">
            <span class="button__text">Log In Now</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </ion-button>				
        </form>
          <ion-img class="loginlogo" src="https://stemen8a.000webhostapp.com/runnerx/img/logorunner.png"></ion-img>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>		
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>		
    </div>
  </div>
</ion-content>


