.loginlogo  {     
    width: 100% !important;
    height: 50% !important;
    text-align: center;
    }

.signIn{
width: 50% !important;
height: 50px !important;
margin-left: 100px;
margin-bottom: 30px;
}

.register{
width: 50% !important;
height: 50px !important;
margin-left: 100px;

}
.forgotpassword{
font-size: 12px;
margin-left: 125px;
}
.recover{
font-size: 12px;
margin-left: 170px;
color: blue;
}

ion-content{
--ion-background-color: #FFF;
}

