.loginlogo  {     
    width: 100% !important;
    height: 40% !important;
    text-align: center;
    }
.start  {     
        width: 100% ;
        height: 45% ;
        }
.profile  {     
            width: 100% ;
            height: 45%  ;
            }
.margingrid{
margin-top: -90px;
}
.margingridmain{
    margin-top: -30px;
    }
    .titlesbuttons{
        color: black;
        margin-left:70px;
    }
.titlesbuttonsbot{
    color: black;
    margin-left:50px;
}

ion-content{
--ion-background-color: #FFF;
}

